.DS_Store
**/.DS_Store

*.o
*.a
*.log

/krkrsdl2
/savedata/
/data/savedata/
/data/content-manifest.json

/build/
/build-*/
/build_*/
**/build/
.externalNativeBuild/
.gradle/
android-project/app/.cxx/
android-project/local.properties
android-project/.idea/
android-project/gradle/gradle-daemon-jvm.properties
